table {
    display: flex;
    width: 80vw;
    height: 30vh;
    column-width: 100px;
    border: 1px solid;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: center;
    margin-left: 15px;

    th {
        width: 70vw;
    }
}

.opciones_crud{
    margin-left: 100;
}